::-webkit-scrollbar {
    width: 6px;
    padding-right: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #bbbab9;
    border-radius: 50px;
}

.navbar {
    background: #000;
    height: 1000px;
}

.navbar .logo img {
    width: 80px;
    margin: -1px;
    background: #849e81;
    padding: 10px;
}

.navbar .elementor-widget-container {
    --e-transform-rotateZ: -90deg;
}

.navbar .elementor-heading-title {
    font-family: unica one, Nunito;
    color: #fff;
    margin-left: -1286px;
    font-size: 29px;
    margin-top: -1231px;
    font-weight: 400;
    text-transform: none;
    line-height: 1em;
    letter-spacing: 1px;
    transform: rotate(270deg);
}

.navbar header .link-menu {
    margin-left: 107px;
    margin-top: 1227px;
}

.navbar header .link-menu .Active {
    color: #849e81;
    border-bottom: 1px solid #849e81;
}

.navbar header .link-menu a {
    margin-left: 62px;
    color: #fff;
    font-size: 17px;
    padding-bottom: 7px;
    text-decoration: none;
    transition: 0.4s;
    font-family: Nunito;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.navbar header .link-menu a:hover {
    transition: 0.4s;
    border-bottom: 1px solid #fff;
}

.navbar header h1 {
    font-size: 48px;
    margin-top: 66px;
    margin-left: 188px;
    color: #fff;
    font-family: 'NUNITO';
}

.navbar header h3 {
    font-size: 20px;
    color: #fff;
    margin-left: 189px;
    font-family: 'Nunito';
}

.navbar header .m3mo3at {
    margin-top: 63px;
}

.navbar header p {
    margin-left: 190px;
    color: #777;
    font-family: 'Nunito';
}

img {
    width: 327px;
    margin-left: 683px;
    margin-top: -829px;
}

.navbar header .box {
    margin-left: 647px;
    margin-top: -420px;
    border: 2px solid #849e81;
    margin-right: 288px;
    padding-left: 61px;
    padding-bottom: 24px;
    padding-top: 15px;
}

.navbar header .box h2 {
    color: #849e81;
    font-family: 'Nunito';
}

.navbar header .box span {
    font-size: 15px;
    font-weight: 600;
    color: #849e81;
}

.navbar header .box p {
    margin-left: 38px;
    font-size: 16px;
    font-weight: 600;
    margin-top: -23px;
    color: #fff;
}

.navbar section {
    margin-top: -2836px;
}

.navbar section a {
    font-size: 16px;
    margin-top: 43px;
    margin-left: 1196px;
    color: #849e81;
    border: 2px solid #849e81;
    font-weight: 600;
    padding-left: 14px;
    transition: 0.5s ease-in-out;
    margin-right: 27px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-family: system-ui;
}

.navbar section a:hover {
    background: #849e81;
    color: #000;
    text-decoration: none;
}

.navbar section a:checked {
    background: #849e81;
    text-decoration: none;
    color: #849e81;
}

.collapse {
    margin-right: 24px;
}

.navbar ul {
    list-style: none;
    margin-top: 103px;
    font-size: 21px;
    text-align: right;
    width: 172px;
    margin-left: 1148px;
}

.navbar ul a {
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
    transition: 0.3s ease-in-out;
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-family: unica one, Sans-serif;
    line-height: 3;
}

.navbar ul .home a {
    color: #849e81;
    border-right: 3px solid #849e81;
}

.navbar ul .home a:hover {
    border-right: 3px solid #849e81;
}

.navbar ul a:hover {
    transition: 0.3s ease-in-out;
    border-right: 3px solid #fff;
}

.navbar ul li a::after {
    color: #849e81;
    border-right: 5px solid #849e81;
}

.link {
    text-align: right;
    margin-right: 32px;
    margin-top: 483px;
}

.link p a {
    color: #636363;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #636363;
    transition: 0.4s ease-in-out;
}

.link p a:hover {
    color: #fff;
}

.link span {
    color: #636363;
}

.icon {
    margin-left: 191px;
    color: #849e81;
}

.fa-brands,
.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    padding: 7px;
    border: 1px solid #849e81;
    transition: 0.4s ease-in-out;
}

.fa-brands:hover {
    background: #849e81;
    color: #000;
}